.gradle
build/
out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
.run/
*.iws
*.iml
*.ipr
*.log
*.zip

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/
**/bin

!tool/klokwrk-tool-gradle-source-repack/src/test/resources/testFiles/slim-gradle-6.7.1-all.zip
