# This file is just an example. To make it effective you should create "agent.env" file in the same directory, copy this content over there, and change the values accordingly.
# The "agent.env" file is ignored by git, so you can safely store your credentials there.
# ------------------
# By default, the values for Grafana Cloud parameters are just read from the environment variables. Therefore, if you already setup your environment variables there is no need to change
# anything here. However, if you don't want setting up the environment every time, change the variables bellow as instructed by Grafana Cloud (https://grafana.com/profile/org). For each
# variable there is a comment with dummy example values.
# ------------------
# Grafana Cloud Prometheus URL example: https://prometheus-prod-something.grafana.net/api/prom/push
GRAFANA_CLOUD_PROMETHEUS_URL=${GRAFANA_CLOUD_PROMETHEUS_URL}
# Grafana Cloud Prometheus username example: 1122334
GRAFANA_CLOUD_PROMETHEUS_USERNAME=${GRAFANA_CLOUD_PROMETHEUS_USERNAME}
# Grafana Cloud Loki URL example: https://logs-prod-something.grafana.net/loki/api/v1/push
GRAFANA_CLOUD_LOKI_URL=${GRAFANA_CLOUD_LOKI_URL}
# Grafana Cloud Loki username example: 334455
GRAFANA_CLOUD_LOKI_USERNAME=${GRAFANA_CLOUD_LOKI_USERNAME}
# Grafana Cloud Tempo endpoint example: tempo-prod-something.grafana.net:443
GRAFANA_CLOUD_TEMPO_ENDPOINT=${GRAFANA_CLOUD_TEMPO_ENDPOINT}
# Grafana Cloud Tempo username example: 556677
GRAFANA_CLOUD_TEMPO_USERNAME=${GRAFANA_CLOUD_TEMPO_USERNAME}
# Grafana Cloud Tempo password example: a long random string you should copy from the Grafana Cloud UI
GRAFANA_CLOUD_API_KEY=${GRAFANA_CLOUD_API_KEY}
